/* Resources front end */
.resource-search select {
	background-image: none;
}

.resource-search .resource-type {
	border-radius: 3px;
	margin-top: 8px;
	background-color: rgba(255, 255, 255, 0.75);
	width: 100%;
	line-height: 2em;
	padding: 0 10px;
	-webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
	position: relative;
}
.resource-search .resource-type:hover {
	-webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.25);
	box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.25);
}
.check {
	width: 100%;
	display: block;
	cursor: pointer;
}
.check:after {
	content: "▼";
	float: right;
}
input[type="checkbox"] {
	/*float: right;*/
}
input[type=checkbox]#dropdown, input[type=checkbox]#dropdown2 {
	position: absolute;
	opacity: 0;
	height: 0;
	visibility: hidden;
}
input[type=checkbox]#dropdown ~ div, input[type=checkbox]#dropdown2 ~ div {
	display: none;
}
input[type=checkbox]#dropdown:checked ~ div, input[type=checkbox]#dropdown2:checked ~ div {
	display: block;
}
input[type=checkbox]#dropdown:checked ~ .check:after, input[type=checkbox]#dropdown2:checked ~ .check:after {
	transform: rotate(90deg);
}
@media only screen and (min-width: 481px) {
	.resource-search form {
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.resource-search form > * {
		margin:auto !important;
		margin-right: 1%;

		flex: 1 0 auto;
	}
	.resource-search form label.space{
		flex: 1 0 15%;
		text-align:center;
	}
	.resource-search form > *:last-child {
		margin-right: 0;
	}
	.resource-search select {
		flex: 1 1 20%;
	}
	.resource-search select option {
		padding: 3px 0;
	}
	.resource-search input {
		flex: 0 1 auto;
	}
}
@media only screen and (min-width: 768px) {
	.resource-search form {
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		height: 3em;
	}
	.resource-search select, .resource-search .resource-type {
		flex: 1 1 auto;
	}
}